body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
}

div#content-wrapper {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  max-width: 800px;
}

header {
  margin-top: 24px;
  display: flex;
  align-items: center;
}

header > * {
  margin-right: 24px;
}

#logo-link {
  color: slategrey;
  text-decoration: none;
  transition: all 0.2s;
  font-family: Courier, serif;
}

#logo-link:hover {
  text-decoration: underline;
  color: #6495ED;
}

#collab-name {
  padding: 6px;
  outline: none;
  border: none;
  border-bottom: 2px solid #6495ED88;
  cursor: pointer;
  border-radius: 2px;
}

#collab-name:hover {
  background: #00000008;
}

#collab-name:focus {
  background: #00000010;
  border-bottom: 2px solid #6495ED;
}

#collab-text {
  height: 100%;
  width: 100%;
  background: #6495ED12;
  border: none;
  border-left: 2px solid #888;
  border-right: 2px solid #888;
  padding: 12px;
  margin-bottom: 64px;
  outline: none;
}

#collab-text:focus {
  background: rgba(145, 164, 186, 0.18);

}

#statusbar {
  padding: 10px 16px;
  background: white;
  border-radius: 4px;
  color: #666;
  position: absolute;
  bottom: 32px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border: inset 2px #FF000066;
}

button.themed {
  background: none;
  width: max-content;
  border: 2px solid #6495ED80;
  padding: 6px 10px;
  border-radius: 6px;
  transition: all 0.2s ease;
  cursor: pointer;
}

button.themed:hover {
  border-color: #6495ED;
  background: #6495ED20;
}

#right {
  flex-grow: 2;
  height: 100%;
  display: flex;
  justify-content: end;
  margin-right: 0;
}

.subtitle {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #6495ED;
}

p {
  color: #666666;
}

a {
  color: #333f4a;
}

a:visited {
  color: #333f4a;
}

section#create-collab {
  margin: 48px 0;
}

section#create-collab > form {
  display: flex;
  align-items: center;

  margin: 0 64px;
  border-radius: 6px;
  border: 2px solid #ACBFDF;
  padding: 24px;
}

.stack {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.stack.margin-r {
  margin-right: 12px;
}

.stack.h {
  flex-direction: row;
}

.stack > * {
  margin-bottom: 8px;
}

label {
  color: #516079;
}

#create-collab-button {
  text-transform: uppercase;
  font-size: 1.25rem;
  align-self: center;
  color: #2e4471;
  background: #85abfa20;
  width: max-content;
  border: 3px inset rgba(15, 29, 57, 0.2);
  padding: 8px 16px;
  border-radius: 6px;
  transition: all 0.15s ease;
  cursor: pointer;
}

#create-collab-button:disabled {
  color: slategrey;
  border: none !important;
}

#create-collab-button:hover {
  border-color: #6a9bfa;
}

#create-collab-button:active {
  border-color: transparent;
}