<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="JetRunConfigurationType">
    <option name="MAIN_CLASS_NAME" value="ml.ffactory.livecollab.server.ApplicationKt" />
    <module name="live-collab.main" />
    <method v="2">
      <option name="Make" enabled="true" />
      <option name="LaunchBrowser.Before.Run" url="http://localhost:8080/" />
    </method>
  </configuration>
</component>